Repository jenkinsci/versioncolumn-plugin, pull requests merged in 2022-11, with the labels that each got.

#63 Replace master with controller
  README.adoc
  src/main/resources/hudson/plugin/versioncolumn/JVMVersionMonitor/help-comparisonMode.html
  src/main/resources/hudson/plugin/versioncolumn/Messages.properties
  src/main/resources/index.jelly
Labels: documentation

#64 Converted tests to use JUnit5
  .gitignore
  pom.xml
  src/test/java/hudson/plugin/versioncolumn/JVMVersionComparatorTest.java
Labels: tests

#86 Refresh plugin
  .mvn/extensions.xml
  pom.xml
  src/main/java/hudson/plugin/versioncolumn/JVMVersionComparator.java
  src/main/java/hudson/plugin/versioncolumn/package-info.java
Labels: chore

#72 Update Messages.properties
  src/main/resources/hudson/plugin/versioncolumn/Messages.properties
Labels: documentation

#88 [JENKINS-68147] Support Java 17
  pom.xml
  src/main/java/hudson/plugin/versioncolumn/JVMConstants.java
  src/main/java/hudson/plugin/versioncolumn/JVMVersionComparator.java
  src/test/java/hudson/plugin/versioncolumn/JVMVersionComparatorTest.java
Labels: feature

#89 More inclusive terminology
  src/main/java/hudson/plugin/versioncolumn/JVMVersionComparator.java
  src/main/resources/hudson/plugin/versioncolumn/JVMVersionMonitor/config.jelly
  src/main/resources/hudson/plugin/versioncolumn/JVMVersionMonitor/help-comparisonMode.html
  src/main/resources/hudson/plugin/versioncolumn/Messages.properties
Labels: documentation

#92 Update docs image for 2.375
  images/configuration-options.png
Labels: documentation

#93 Use default release drafter configuration
  .github/release-drafter.yml
Labels: chore

#94 Add markewaite as a plugin maintainer
  pom.xml
Labels: documentation

#95 [JENKINS-70069] Add help to remoting version checkbox
  src/main/resources/hudson/plugin/versioncolumn/VersionMonitor/help.html
Labels: bugfix

#96 [JENKINS-70074] computer/api results in an error when authenticated
  src/main/java/hudson/plugin/versioncolumn/JVMVersionMonitor.java
Labels: bugfix

#97 Test XML result from computer/api/xml end point
  pom.xml
  src/test/java/hudson/plugin/versioncolumn/RESTAPITest.java
Labels: tests
