Repository jenkinsci/versioncolumn-plugin, pull requests merged in 2023-12, with the labels that each got.

#189 [JENKINS-63971] prepare for casc support of node monitors
  src/main/java/hudson/plugin/versioncolumn/JVMVersionMonitor.java
  src/main/java/hudson/plugin/versioncolumn/VersionMonitor.java
Labels: major-rfe

#200 Add tutorial and config as code example
  README.adoc
  images/plugin-tutorial-video.png
Labels: documentation

#208 Use spotbugs plugin 4.8.2.0
  pom.xml
Labels: chore

#207 Fix documentation URL
  pom.xml
Labels: bug
